.FMS-input-label {
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.FMS-input {
  border-radius: 0;
  font-size: 14px;
  padding: 8px 10px !important;
}


.FMS-group{
  margin-top:15px;
  margin-bottom: 20px;
}

.FMS-group-heading {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

.FMS-photo{
  margin-top: 15px;
  border: 1px solid grey;
  height: 200px;
  width: 180px;
}

.FMS-signature{
  margin-top:15px;
  border:1px solid grey;
  height: 60px;
  width: 300px;
}

@media screen and (max-width: 600px) {
  .container-fluid {
    padding: 0;
  }
}
