<div class="container-fluid">
  <div class="">
    <div class="card FMS-card">
      <div class="card-header FMS-card-header">
        Registration
      </div>
      <div class="card-block">
        <form #studentForm="ngForm" (submit)="student._id ? updateStudentDetails() : addNewStudent()">
          <!-- Basic Details -->
          <div class="FMS-group">
            <h5 class="FMS-group-heading">Basic Information:</h5>
            <hr>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="firstname">First Name<span class="FMS-error-validation">*</span> : </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="firstname" id="firstname" class="form-control FMS-input" placeholder="First Name"
                           [(ngModel)]="student.firstName" #firstNameField="ngModel"
                           required>
                    <div class="FMS-error-validation"
                         *ngIf="firstNameField.errors && (firstNameField.touched || firstNameField.dirty)">
                      <span [hidden]="!firstNameField.errors.required">*required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="lastname">Last Name<span class="FMS-error-validation">*</span> : </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="lastname" id="lastname" class="form-control FMS-input" placeholder="Last Name"
                           [(ngModel)]="student.lastName" #lastNameField="ngModel"
                           required>
                    <div class="FMS-error-validation"
                         *ngIf="lastNameField.errors && (lastNameField.touched || lastNameField.dirty)">
                      <span [hidden]="!lastNameField.errors.required">*required</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="fathername">Father Name<span class="FMS-error-validation">*</span> : </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="fathername" id="fathername" class="form-control FMS-input"
                           placeholder="Father Name" [(ngModel)]="student.fatherName"
                           #fatherNameField="ngModel" required>
                    <div class="FMS-error-validation"
                         *ngIf="fatherNameField.errors && (fatherNameField.touched || fatherNameField.dirty)">
                      <span [hidden]="!fatherNameField.errors.required">*required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="mothername">Mother Name<span class="FMS-error-validation">*</span> :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="mothername" id="mothername" class="form-control FMS-input"
                           placeholder="Mother Name" [(ngModel)]="student.motherName"
                           #motherNameField="ngModel" required>
                    <div class="FMS-error-validation"
                         *ngIf="motherNameField.errors && (motherNameField.touched || motherNameField.dirty)">
                      <span [hidden]="!motherNameField.errors.required">*required</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="category">Category<span class="FMS-error-validation">*</span> :</label>
                  </div>
                  <div class="col-sm-9">
                    <select id="category" name="category" class="form-control FMS-input" [(ngModel)]="student.category"
                            #categoryField="ngModel" required>
                      <option value="">-- Select A Category --</option>
                      <option value="ur">UR</option>
                      <option value="obc">OBC</option>
                      <option value="sc">SC</option>
                      <option value="st">ST</option>
                      <option value="def">DEF</option>
                      <option value="ue">UE</option>
                    </select>

                    <div class="FMS-error-validation"
                         *ngIf="categoryField.errors && (categoryField.touched || categoryField.dirty)">
                      <span [hidden]="!categoryField.errors.required">*required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="subcategory">Sub-Category: </label>
                  </div>
                  <div class="col-sm-9">
                    <select name="subcategory" id="subcategory" class="form-control FMS-input"
                            [(ngModel)]="student.subCategory"
                            #subCategoryField="ngModel">
                      <option value="">None</option>
                      <option value="ph">Physically Handicapped</option>
                      <option value="freedom">Freedom Fighter</option>
                      <option value="ex">Ex. Defence Personnel</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="domicile">Domicile<span class="FMS-error-validation">*</span> :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="radio" name="domicile" id="domicile" value="up" [(ngModel)]="student.domicile"
                           #domicileField="ngModel" required> U.P.
                    <input type="radio" name="domicile" id="domicile1" value="nonup" [(ngModel)]="student.domicile"
                           #domicileField="ngModel" required> Non - U.P.

                    <div class="FMS-error-validation"
                         *ngIf="domicileField.errors && (domicileField.touched || domicileField.dirty)">
                      <span [hidden]="!domicileField.errors.required">*required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="religion">Religion<span class="FMS-error-validation">*</span> :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="religion" id="religion" class="form-control FMS-input"
                           placeholder="Religion" [(ngModel)]="student.religion" #religionField="ngModel" required>

                    <div class="FMS-error-validation"
                         *ngIf="religionField.errors && (religionField.touched || religionField.dirty)">
                      <span [hidden]="!religionField.errors.required">*required</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="gender-male">Gender<span class="FMS-error-validation">*</span> :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="radio" name="gender" id="gender-male" value="male" [(ngModel)]="student.gender"
                           #genderField="ngModel" required>&nbsp;&nbsp;Male &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="gender" id="gender-female" value="female" [(ngModel)]="student.gender"
                           #genderField="ngModel" required>&nbsp;&nbsp;Female
                    <div class="FMS-error-validation"
                         *ngIf="genderField.errors && (genderField.touched || genderField.dirty)">
                      <span [hidden]="!genderField.errors.required">*required</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Basic Details -->

          <!-- Contact Details-->
          <div class="FMS-group">
            <h5 class="FMS-group-heading">Contact Details</h5>
            <hr>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="dob">Date of Birth: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" name="dob" id="dob" class="form-control FMS-input" [(ngModel)]="student.dob"
                           #dobField="ngModel" required>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="mobile">Mobile: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="mobile" id="mobile" class="form-control FMS-input"
                           placeholder="Mobile Number" maxlength="13" [(ngModel)]="student.mobile"
                           #mobileField="ngModel" required>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="email">Email: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="email" name="email" id="email" class="form-control FMS-input"
                           placeholder="Email Address" [(ngModel)]="student.email" #emailField="ngModel" required>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="state">State: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="state" id="state" class="form-control FMS-input"
                           [(ngModel)]="student.state" #stateField="ngModel" required>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="address">Address: </label>
                  </div>
                  <div class="col-sm-9">
                    <textarea name="address" id="address" class="form-control FMS-input" rows="4"
                              placeholder="Address" [(ngModel)]="student.address" #addressField="ngModel"
                              required></textarea>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="district">District: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="district" id="district" class="form-control FMS-input"
                           placeholder="District Name" [(ngModel)]="student.district" #districtField="ngModel" required>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="adhar">Adhar Number: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="adhar" id="adhar" class="form-control FMS-input" placeholder="Adhar number"
                           maxlength="12" [(ngModel)]="student.adhar" #adharField="ngModel" required>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="fathernumber">Father Mobile: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="fathernumber" id="fathernumber" class="form-control FMS-input"
                           placeholder="Father number" maxlength="13" [(ngModel)]="student.fatherMobile"
                           #fatherMobileField="ngModel">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="fprofession">Father Profession: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="fprofession" id="fprofession" class="form-control FMS-input"
                           placeholder="Father profession" [(ngModel)]="student.fatherProfession"
                           #fatherProfessionField="ngModel">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- End of Contact Details-->

          <!-- Academic Details -->
          <div class="FMS-group">
            <h5 class="FMS-group-heading">Academic Details</h5>
            <hr>
            <div class="row" style="font-size: 14px;">
              <div class="col-sm-1">Exam</div>
              <div class="col-sm-2">Roll Number</div>
              <div class="col-sm-2">Passing Year</div>
              <div class="col-sm-1">Marks Obt</div>
              <div class="col-sm-1">Total Marks</div>
              <div class="col-sm-3">Subjects</div>
              <div class="col-sm-2">Medium</div>
            </div>

            <div class="row" style="font-size: 14px; margin-top:10px">
              <div class="col-sm-1">
                <select name="1oth" id="10th" class="form-control FMS-input"
                        [(ngModel)]="student.academicDetails[0].exam" #academic10thName="ngModel" required>
                  <option value="10th" selected>10th</option>
                  <!--<option value="12th">12th</option>-->
                </select>
              </div>
              <div class="col-sm-2">
                <input type="text" name="10th_roll_number" id="10th_roll_number" class="form-control FMS-input"
                       [(ngModel)]="student.academicDetails[0].rollNumber" #academic10thRollNumber="ngModel" required>
              </div>
              <div class="col-sm-2">
                <input type="text" name="10th_passing_year" id="10th_passing_year" class="form-control FMS-input"
                       [(ngModel)]="student.academicDetails[0].passingYear" #academic10thPassingYear="ngModel" required>
              </div>
              <div class="col-sm-1">
                <input type="text" name="10th_marks_obt" id="10th_marks_obt" class="form-control FMS-input"
                       [(ngModel)]="student.academicDetails[0].marksObtain" #academic10thMarksObtain="ngModel" required>
              </div>
              <div class="col-sm-1">
                <input type="text" name="10th_marks_total" id="10th_marks_total" class="form-control FMS-input"
                       [(ngModel)]="student.academicDetails[0].totalMarks" #academic10thTotalMarks="ngModel" required>
              </div>
              <div class="col-sm-3">
                <input type="text" name="10th_subjects" id="10th_subjects" class="form-control FMS-input"
                       [(ngModel)]="student.academicDetails[0].subjects" #academic10thSubjects="ngModel" required>
              </div>
              <div class="col-sm-2 radio">
                <input type="radio" name="medium_1oth" value="hindi" [(ngModel)]="student.academicDetails[0].medium"
                       #academic10thMedium="ngModel" required> Hindi
                <input type="radio" name="medium_10th" value="english" [(ngModel)]="student.academicDetails[0].medium"
                       #academic10thMedium="ngModel" required> English
              </div>
            </div>

            <div class="row" style="font-size: 14px;margin-top:10px">
              <div class="col-sm-1">
                <select name="12th" id="12th" class="form-control FMS-input"
                        [(ngModel)]="student.academicDetails[1].exam" #academic12thName="ngModel" required>
                  <!--<option value="10th" selected>10th</option>-->
                  <option value="12th" selected>12th</option>
                </select>
              </div>
              <div class="col-sm-2">
                <input type="text" name="12th_roll_number" id="12th_roll_number" class="form-control FMS-input"
                       [(ngModel)]="student.academicDetails[1].rollNumber" #academic12thRollNumber="ngModel" required>
              </div>
              <div class="col-sm-2">
                <input type="text" name="12th_passing_year" id="12th_passing_year" class="form-control FMS-input"
                       [(ngModel)]="student.academicDetails[1].passingYear" #academic12thPassingYear="ngModel" required>
              </div>
              <div class="col-sm-1">
                <input type="text" name="12th_marks_obt" id="12th_marks_obt" class="form-control FMS-input"
                       [(ngModel)]="student.academicDetails[1].marksObtain" #academic12thMarksObtain="ngModel" required>
              </div>
              <div class="col-sm-1">
                <input type="text" name="12th_marks_total" id="12th_marks_total" class="form-control FMS-input"
                       [(ngModel)]="student.academicDetails[1].totalMarks" #academic12thTotalMarks="ngModel" required>
              </div>
              <div class="col-sm-3">
                <input type="text" name="12th_subjects" id="12th_subjects" class="form-control FMS-input"
                       [(ngModel)]="student.academicDetails[1].subjects" #academic12thSubjects="ngModel" required>
              </div>
              <div class="col-sm-2 radio">
                <input type="radio" name="medium_12th" value="hindi" [(ngModel)]="student.academicDetails[1].medium"
                       #academic12thMedium="ngModel" required> Hindi
                <input type="radio" name="medium_12th" value="english" [(ngModel)]="student.academicDetails[1].medium"
                       #academic12thMedium="ngModel" required> English
              </div>
            </div>
          </div>
          <!-- End of Academic Details -->

          <!-- Admission Details -->
          <div class="FMS-group">
            <h5 class="FMS-group-heading">Admission Details</h5>
            <hr>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="course">Course: </label>
                  </div>
                  <div class="col-sm-9">
                    <select name="course" id="course" class="form-control  FMS-input" [(ngModel)]="student.course"
                            #courseField="ngModel" required>
                      <option value="">-- Select Course --</option>
                      <option *ngFor="let course of courses" value="{{course._id}}">{{course.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="subjects_course">Subjects: </label>
                  </div>
                  <div class="col-sm-9">
                    <textarea class="form-control  FMS-input" name="subjects_course" id="subjects_course"
                              [(ngModel)]="subjects" #subjectsField="ngModel" required></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="course_year">Year: </label>
                  </div>
                  <div class="col-sm-9">
                    <select name="course_year" id="course_year" class="form-control  FMS-input"
                            [(ngModel)]="student.year" #yearField="ngModel" required>
                      <option value="">-- Select A Year --</option>
                      <option value="1">1st Year</option>
                      <option value="2">2nd Year</option>
                      <option value="3">3rd Year</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="course_fee_1">Course Fee: </label>
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_fee" id="course_fee_1" class="form-control FMS-input"
                           placeholder="1st Year" [(ngModel)]="student.courseFee.firstYear"
                           #courseFeeFirstYearField="ngModel" required>
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_fee" id="course_fee_2" class="form-control FMS-input"
                           placeholder="2nd Year" [(ngModel)]="student.courseFee.secondYear"
                           #courseFeeSecondYearField="ngModel" required>
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_fee" id="course_fee_3" class="form-control FMS-input"
                           placeholder="3rd Year" [(ngModel)]="student.courseFee.thirdYear"
                           #courseFeeThirdYearField="ngModel" required>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="course_pay_1">Student Pay: </label>
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_pay_1" id="course_pay_1" placeholder="1st Year"
                           class="form-control FMS-input" [(ngModel)]="student.studentPay.firstYear"
                           #studentPayFirstYearField="ngModel" required>
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_pay_1" id="course_pay_2" placeholder="2nd Year"
                           class="form-control FMS-input" [(ngModel)]="student.studentPay.secondYear"
                           #studentPaySecongYearField="ngModel" required>
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="course_pay_1" id="course_pay_3" placeholder="3rd Year"
                           class="form-control FMS-input" [(ngModel)]="student.studentPay.thirdYear"
                           #studentPayThirdYearField="ngModel" required>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="photo">Photo: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="file" class="form-control FMS-input" id="photo" name="photo">
                    <div class="FMS-photo">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-sm-3 FMS-input-label">
                    <label for="signature">Signature: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="file" class="form-control FMS-input" name="signature" id="signature">
                    <div class="FMS-signature">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- End of Admission Details -->
          <hr>

          <div class="row">
            <div class="col">
              <button type="reset" class="btn btn-default">Reset</button>
            </div>
            <div class="col text-right">
              <button type="submit" [disabled]="studentForm.invalid" class="btn btn-primary">Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
