<div class="container-fluid">
  <div class="card FMS-card">
    <div class="card-header FMS-card-header">
      Fee Details
      <button type="button" class="btn btn-primary" style="float: right" (click)="feeModalOpen(addFee)">Add Fee</button>
    </div>
    <div class="card-block FMS-card-block container">

      <!-- Basic Details-->
      <div class="row FMS-margin FMS-padding" style="border:1px solid #c2c2c2;">
        <div class="col-sm-9">

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-xs-6 FMS-input-label text-right">Name :</div>
                <div class="col-sm-9 col-xs-6">{{studentDetails.name}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Father :</div>
                <div class="col-sm-9">{{studentDetails.fatherName}}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Mother :</div>
                <div class="col-sm-9">{{studentDetails.motherName}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">DOB :</div>
                <div class="col-sm-9">{{studentDetails.dob | date: 'dd-MMM-yy'}}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Reg. No :</div>
                <div class="col-sm-9">{{studentDetails.registration}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Roll No :</div>
                <div class="col-sm-9">{{studentDetails.rollNumber}}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Mobile :</div>
                <div class="col-sm-9">{{studentDetails.mobile}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Email :</div>
                <div class="col-sm-9">{{studentDetails.email}}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Class :</div>
                <div class="col-sm-9">{{studentDetails.class}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 FMS-input-label text-right">Year :</div>
                <div class="col-sm-9">{{studentDetails.year}} year</div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-3">
          <div class="text-right">
            <img src="../../../assets/images/default_profile.png" class="FMS-profile-image img-thumbnail">
            <img src="../../../assets/images/defualt_signature.png" class="FMS-profile-signature">
          </div>
        </div>
      </div>
      <!-- End of Basic Details-->

      <!-- Fee Details -->
      <div style="margin-top: 20px">
        <div>
          <ngb-tabset>
            <ngb-tab>
              <ng-template ngbTabTitle><b>1st Year</b></ng-template>
              <ng-template ngbTabContent>
                <div class="row container" style="margin-top:25px">
                  <div class="col-sm-4"><b>Payed:</b> Rs 8000</div>
                  <div class="col-sm-4 text-center"><b>Remaining:</b> Rs 0</div>
                  <div class="col-sm-4 text-right"><b>Total Fee:</b> Rs8000</div>
                </div>

                <div class="table-responsive" style="margin-top: 20px">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>01</td>
                      <td>14-July-2017</td>
                      <td>Rs2500</td>
                    </tr>
                    <tr>
                      <td>02</td>
                      <td>12-July-2017</td>
                      <td>Rs3000</td>
                    </tr>
                    <tr>
                      <td>03</td>
                      <td>12-June-2017</td>
                      <td>Rs1500</td>
                    </tr>
                    <tr>
                      <td>04</td>
                      <td>01-May-2017</td>
                      <td>Rs 1000</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle><b>2nd Year</b></ng-template>
              <ng-template ngbTabContent>
                <div class="row container" style="margin-top:25px">
                  <div class="col-sm-4"><b>Payed:</b> Rs 8000</div>
                  <div class="col-sm-4 text-center"><b>Remaining:</b> Rs 0</div>
                  <div class="col-sm-4 text-right"><b>Total Fee:</b> Rs8000</div>
                </div>

                <div class="table-responsive" style="margin-top: 20px">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>01</td>
                      <td>14-July-2017</td>
                      <td>Rs2500</td>
                    </tr>
                    <tr>
                      <td>02</td>
                      <td>12-July-2017</td>
                      <td>Rs3000</td>
                    </tr>
                    <tr>
                      <td>03</td>
                      <td>12-June-2017</td>
                      <td>Rs1500</td>
                    </tr>
                    <tr>
                      <td>04</td>
                      <td>01-May-2017</td>
                      <td>Rs 1000</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
      <!-- End of Fee Details -->
    </div>
  </div>
</div>


<!-- Add Fee Modal -->
<ng-template #addFee let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Fee</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row FMS-input-group">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <label class="form-control-label FMS-input-label" for="name">Fee:</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
          <input type="text" name="name" id="name" class="form-control FMS-input" placeholder="Enter Rupees">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary " (click)="c('Close click')">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</ng-template>
<!-- End of Fee Modal -->
