<div class="container-fluid">
  <div class="card FMS-card">
    <div class="card-header FMS-card-header">Fee</div>
    <div class="card-block">

      <!-- Filter -->
      <div class="row FMS-input-group">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <select name="class" id="class" class="form-control FMS-input">
            <option value="">Select Class</option>
            <option value="bsc">B. Sc.</option>
            <option value="ba">B. A.</option>
            <option value="ma">M. A.</option>
            <option value="bcom">B. Com.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <select name="year" class="form-control FMS-input" id="year">
            <option value="">Select Year</option>
            <option value="1">1st Year</option>
            <option value="2">2nd Year</option>
            <option value="3">3rd Year</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <input type="text" name="name" id="name" class="form-control FMS-input" placeholder="Enter Student Name">
        </div>
      </div>

      <div class="row FMS-input-group">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <input type="text" name="father_name" id="father_name" class="form-control FMS-input"
                 placeholder="Enter Father Name">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <input type="text" name="roll_number" id="roll_number" class="form-control FMS-input"
                 placeholder="Enter Roll Number">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <input type="text" name="mobile" id="mobile" class="form-control FMS-input" placeholder="Enter Mobile Number">
        </div>
      </div>

      <div class="row FMS-input-group">
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-primary">Search</button>
        </div>
      </div>
      <!-- End of Filter -->

      <hr>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Father Name</th>
            <th>Roll No</th>
            <th>1st Year</th>
            <th>2nd Year</th>
            <th>3rd Year</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>01</td>
            <td>Appu Rana</td>
            <td>Anoop Rana</td>
            <td>1311331</td>
            <td>8000 - 8000 = 0</td>
            <td>8000 - 5000 = 3000</td>
            <td>8000 - 0 = 8000</td>
            <td><button class="btn btn-primary" routerLink="/fee-details">Fee Details</button></td>
          </tr>
          <tr>
            <td>01</td>
            <td>Appu Rana</td>
            <td>Anoop Rana</td>
            <td>1311331</td>
            <td>8000 - 8000 = 0</td>
            <td>8000 - 5000 = 3000</td>
            <td>8000 - 0 = 8000</td>
            <td><button class="btn btn-primary" routerLink="/fee-details">Fee Details</button></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
