/* You can add global styles to this file, and also import other style files */
/* Main */
.FMS-main{
  min-height: 500px;
  max-height: 100% !important;
  margin-bottom: 40px;
}
/* End of Main*/

.btn{
  border-radius: 0;
}


.FMS-card {
  margin-top: 20px;
  border-top: 5px solid #c4c4c4;
  border-radius: 0;
}

.FMS-card-header {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  font-family: fantasy Serif;
  background: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.FMS-input-group{
  margin-top:10px;
}

.FMS-input-label {
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.FMS-input {
  border-radius: 0;
  font-size: 14px;
  padding: 8px 10px !important;
}

.FMS-margin{
  margin-top:10px;
  margin-bottom:10px;
}

.FMS-padding{
  padding: 20px 10px;
}

.FMS-error-validation{
  font-size: 12px;
  color:red;
  letter-spacing: 1px;
}


.btn-default {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

/* Loader */
.FMS-loader {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
}
.FMS-loader-inner{
  position: fixed;
  top:0;
  right:0; 
  bottom: 0;
  left:0; 
  width: 100px;
  height: 100px;
  margin: auto;
}

 .loader .my-loader {
    /* background-color: greenyellow;   */
    margin: 5px; 
} 
  /* End of Loader */