@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Exo|Playfair+Display');
.FMS-login{
  width: 300px;
  max-width: 100%;
  margin-top:60px;
  font-family: 'Exo', sans-serif;

}

.FMS-logo{
  font-size: 150px;
  color: #787878;
  font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 420px){
  .FMS-logo{
    font-size: 135px;
  }
}
.FMS-welcome{
  letter-spacing: 3px;
  font-size: 20px;
}

.FMS-description{
  letter-spacing: 1px;
  font-size: 12px;
}

.FMS-access{
  font-size: 13px;
}

.FMS-input{
  border-radius: 0;
  font-size: 14px;
}

.FMS-login-btn{
  border-radius: 0;
  background-color: #001f3f;
  color: #fff;
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
}

.FMS-forgot{
  font-size: 11px;
  margin-top: 15px;
  letter-spacing: 1px;
}

.FMS-about{
  font-family: cursive;
  font-size: 12px;
  color: #898989;
  margin-top: 25px;
}
