<div class="container FMS-login text-center">
  <div>
    <h1 class="FMS-logo">FMS</h1>
    <h5 class="FMS-welcome">Welcome to FMS</h5>
    <p class="FMS-description">FMS is a fee management system for Colleges and Schools. It will manage student details as well as fee.</p>
    <p class="FMS-access">Login to access your account</p>
  </div>
  <div>
    <form autocomplete="off" #loginForm="ngForm" (submit)="login()">
      <div class="form-group">
        <input type="email" placeholder="Username" class="form-control FMS-input" id="username" name="username" [(ngModel)]="email"
          pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" #emailField="ngModel" required>
        <div class="FMS-error-validation text-left" *ngIf="emailField.errors && (emailField.touched || emailField.dirty)">
          <span [hidden]="!emailField.errors.required">*required</span>
          <span [hidden]="!emailField.errors.pattern">Invalid email</span>
        </div>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control FMS-input" id="password" name="password" [(ngModel)]="password"
          #passwordField="ngModel" required>
        <div class="FMS-error-validation text-left" *ngIf="passwordField.errors && (passwordField.touched || passwordField.dirty)">
          <span [hidden]="!passwordField.errors.required">*required</span>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-block FMS-login-btn" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
    <p class="FMS-forgot"><a href="#">Forgot Password?</a></p>
  </div>
  <div>
    <p class="FMS-about">Fee Management System By Team3</p>
  </div>
</div>