



@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* Navbar */
.FMS-navbar{
  background: #fff;
}
.FMS-navbar a {
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}
.FMS-navbar-logo{
  background: #001f3f;
  color: #fff !important;
  padding: 5px 10px;
  border-radius: 10px;
  width: 60px;
  max-width: 100%;
}
.FMS-navbar-right{
  width: 100px;
  max-width: 100%;
  margin-top: 5px !important;
  text-align: right;
}

@media screen and (max-width: 991px){
  .FMS-navbar-right{
    text-align: left;
  }
}
/* End of Navbar */


/* Footer */
footer{
  width: 100%;
  background: #FFF;
  color: #444;
  padding: 30px 20px;
}
footer ul{
  list-style: none;
  padding: 0;
}
.FMS-copyright{
  background: #FFF;
  color: #000;
  padding: 20px;
}
.FMS-footer-logo{
  background: #001f3f;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 10px;
  width: auto;
  font-size: 25px;
  letter-spacing: 2px;
  font-family: 'Josefin Sans', sans-serif !important;
}
.FMS-footer-description{
  margin-top: 15px;
  font-size: 12px;
  text-align: justify;
}
.FMS-footer-heading{
  font-family: "Trebuchet MS", Verdana, sans-serif;
}
.FMS-footer-links{
  margin-top: 23px;
  font-size: 13px;
}
.FMS-footer-address{
  font-style: italic;
  font-family: 'Playfair Display', serif;
}
.FMS-footer-contact{
  font-size: 14px;
}

/* End of Footer */
