@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.FMS-home-container {
  margin-top: 10px;
}

.card {
  border-radius: 0;
  border-top: 3px solid #e2e2e2;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #144512;
}

.card-header {
  background: #fff;
  height: 30px;
  padding: 4px 2px 0 8px;
}

.FMS-progress {
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .FMS-add-btn {
    margin-top: -40px;
  }
  .card-block{
    text-align: center !important;
  }
  .FMS-add-btn{
    margin: -6px 5px 0 0 !important;
  }
}

.FMS-add-btn {
  padding: 0 5px;
  margin: -6px -15px 0 0;
  font-size: 14px;
}

.FMS-class {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.FMS-subtext{
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
}
.FMS-maintext{
  font-family: 'Oswald', sans-serif;
}

.FMS-main-heading{
  letter-spacing: 2px;
  color: #696969;
  font-family: 'Oswald', sans-serif;
}
