<div class="container-fluid">
  <div class="card FMS-card">
    <div class="card-header FMS-card-header">Students</div>
    <div class="card-block">
      <!-- Filter -->
      <div class="row FMS-input-group">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <select name="class" id="class" class="form-control FMS-input">
            <option value="">Select Class</option>
            <option value="bsc">B. Sc.</option>
            <option value="ba">B. A.</option>
            <option value="ma">M. A.</option>
            <option value="bcom">B. Com.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <select name="year" class="form-control FMS-input" id="year">
            <option value="">Select Year</option>
            <option value="1">1st Year</option>
            <option value="2">2nd Year</option>
            <option value="3">3rd Year</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <input type="text" name="name" id="name" class="form-control FMS-input" placeholder="Enter Student Name">
        </div>
      </div>

      <div class="row FMS-input-group">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <input type="text" name="father_name" id="father_name" class="form-control FMS-input"
                 placeholder="Enter Father Name">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <input type="text" name="roll_number" id="roll_number" class="form-control FMS-input"
                 placeholder="Enter Roll Number">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <input type="text" name="mobile" id="mobile" class="form-control FMS-input" placeholder="Enter Mobile Number">
        </div>
      </div>

      <div class="row FMS-input-group">
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-primary">Search</button>
        </div>
      </div>
      <!-- End of Filter -->

      <hr>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Photo</th>
            <th>Details</th>
            <th>Course</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let student of students; let i = index">
            <td>0{{i+1}}</td>
            <td><img [src]="student.profileImage || '../../../assets/images/default_profile.png'" [alt]="student.name"
                     style="width: 160px;"></td>
            <td>
              <div class="row">
                <div class="col-sm-3">
                  <strong>Name :</strong>
                </div>
                <div class="col-sm-9">
                  {{student.name}}
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <strong>Father :</strong>
                </div>
                <div class="col-sm-9">
                  {{student.fatherName}}
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <strong>Mother :</strong>
                </div>
                <div class="col-sm-9">
                  {{student.motherName}}
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <strong>DOB :</strong>
                </div>
                <div class="col-sm-9">
                  {{student.dob| date: 'dd-MMM-yy'}}
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <strong>Mobile :</strong>
                </div>
                <div class="col-sm-9">
                  {{student.mobile}}
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <strong>Email :</strong>
                </div>
                <div class="col-sm-9">
                  {{student.email}}
                </div>
              </div>

            </td>
            <td>
              <div class="row">
                <div class="col-sm-3"><strong>Name :</strong></div>
                <div class="col-sm-9">{{student.class}}</div>
              </div>

              <div class="row">
                <div class="col-sm-3"><strong>Year :</strong></div>
                <div class="col-sm-9">{{student.year}}</div>
              </div>

              <div class="row">
                <div class="col-sm-3"><strong>Roll No :</strong></div>
                <div class="col-sm-9">{{student.rollNumber}}</div>
              </div>

              <div class="row">
                <div class="col-sm-3"><strong>Admission Date :</strong></div>
                <div class="col-sm-9">{{student.admissionDate | date: 'dd-MMM-yy'}}</div>
              </div>
            </td>
            <td>
              <button class="btn btn-link"><i class="fa fa-edit"></i></button>
              <br>
              <button class="btn btn-link text-danger"><i class="fa fa-trash-o"></i></button>
              <br>
              <br>
              <button class="btn btn-success" routerLink="/student-details">See Details</button>

            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
